*{
    background-color: blanchedalmond;
}
.box1{
    width: 700px;
    height: 300px;
    padding: 50px;
    border: 5px solid salmon;
    margin: auto;
    background-color: white;
    box-sizing: content-box;
}

.box2{
    width: 700px;
    height: 300px;
    padding: 50px;
    border: 5px solid salmon;
    margin: auto;
    background-color: white;
    box-sizing: border-box;

}