/* CSS Reset */
*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif 
}

/* styles */
.menu-container{
    color: #fff;
    background-color: #5995DA;
    padding: 20px 0px;
    display: flex;
    justify-content:center
}

.menu{
    /* border: 1px solid #ffffff; For Debugging */
    width: 900px;
    display: flex;
    justify-content: space-between ; /*HORIZONTAL ALIGNMENT*/
    
     
}
.links{
    display: flex;
    justify-content: flex-end;
}
.login{
    margin-left: 20px;
}
.menu div{
    /* border: 1px solid #fff; For Debugging */
}


/* HEADER CONTAINER SECTION */
.header-container{
    display: flex;
    background-color: #D6E9FE;
    color: #5995DA;
    justify-content: center; /*HORIZONTAL ALIGNMENT*/
}

.header{
    /* border: 1px solid #9b8a8a; For debugging */
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 300px;
    /* padding: 20px 0px; justify-content:stretch did not work properly when padding is given, so I disabled it for the time being. */
    align-items: center; /*VERTICAL ALIGNMENT*/
}

.header div{
    /* border: 1px solid #9b8a8a; For debugging */
}


/* PHOTO-GRID-CONTAINER STARTS */
.photo-grid-container{
    background-color: #9b8a8a;
    display: flex;
    justify-content: center;
}
.photo-grid{
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.photo-grid-item{
    width: 300px;
    height: 300px;
    /* border: 1px solid red; */
}

.photo-grid div{
    /* border: 1px solid red; For Debugging */
}


/*END OF ALGINMENT BASED ON PARENT CONTAINER*/
/* - - - - - - - - - - - - - - - - - - - - -*/
/*START OF ALIGNMENT DIRECTLY OF INDIVIDUAL FLEX ITEMS*/

/* Changing order of flex items */
.first-item{
    order: 1;
}
.last-item{
    order: -1;
} 

/* align-self:flex-start,flex-end,center etc. 
A special property that is created for alignment of individual flex elements, it overrides the parent container's justify content statement */

.socials,.subscribe{
    align-self: flex-end;
 }


 /* FOOTER STARTS */
 .footer{
    display: flex;
    justify-content: space-between;
 }
 .footer-item{
    /* border: 1px solid #fff; */
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
 }
.footer-one,
.footer-three{
    flex: initial;
    width: 300px; /*We should always define width when giving flex:initial because that's the one thing that makes a item static.(obviously)*/
    background-color: #5995DA;
}

 .footer-two{
    flex: 2;
 }


 .signup{
    margin-left: auto;
} /*This pushed signup to the most right*/
/*Earlier we have done this by adding an extra div for the links part and giving the space-between rule.*/
/*Using margin-auto, we can implement the same thing without another extra div (A pro gamer move).*/